{% extends 'base.html' %}

{% block title %}Головна{% endblock %}

{% block content %}
    <section class="text-center">
        <h1>Вітаю на сторінці майстра-бровіста</h1>
        <p>Я надаю професійні послуги з догляду за бровами.</p>
        <p>Послуги, їх вартість та тривалість:</p>
        <ul class="list-unstyled">
            {% for service in services %}
            <li class="service-item">
                <strong>{{ service.name }}</strong>: {{ service.price }} - тривалість: {{ service.durations }} хвилин
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'appointment' %}" class="btn-gray">Записатись</a>
    </section>
{% endblock %}
